LCS/Library/metadata
LCS/Library/PackageCache
LCS/Library/ShaderCache
LCS/Temp
LCS/.vs/LCS
LCS/obj/Debug
*.lock
AdvectionCalculationsGUI/.vs/*
AdvectionCalculationsGUI/bin/*
AdvectionCalculationsGUI/obj/*
AdvectionCalculationsGUI/AdvectionCalculationsGUI/bin/Debug/AdvectionCalculationsGUI.exe
*.exe
AdvectionCalculationsGUI/AdvectionCalculationsGUI/bin/Debug/AdvectionCalculationsGUI.pdb
*.pdb
LCS/Build
*.exe
LCS/Library/PlayerDataCache
*.log
LCS/Library
